<!DOCTYPE html>
<html lang="en-us">

    <head>
		<% include includes/head %>
		<% include includes/script %>
    </head>
    <body>
        <div float="left">
            <% include includes/mainbody %>
        </div>
		<div>
			<% include includes/maps %>
		</div>
		<div>
			
		</div>
    </body>
	<script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>
</html>