<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>DemoDRA - Current Weather</title>

        <link rel="stylesheet" href="/built/css/default.css" />

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>
    </head>
    <body>
        <div float="left">
            <% include includes/mainbody %>
        </div>
    </body>
	<script>
		function initMap1() {
			// The location of Uluru
			var uluru = { lat: -25.344, lng: 131.036 };
			// The map, centered at Uluru
			var map = new google.maps.Map(
				document.getElementById('map'), { zoom: 4, center: uluru });
			// The marker, positioned at Uluru
			var marker = new google.maps.Marker({ position: uluru, map: map });
		}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhw-VBVBRnAAqSsSBNsuuHSQ8ZWPMA_LM"></script>
	<script defer>
		initMap1();
	</script>
	<script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>
</html>